body {
  margin: 0;
}
header {
  width: 375px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 16px;
  box-sizing: border-box;
}
button {
  border: 0;
  background-color: white;
}
.search {
  width: 171px;
  height: 34px;
  border-radius: 8px;
  background-color: #f6f8fa;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  letter-spacing: 0px;
  color: #818b9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border: 0;
  box-sizing: border-box;
}
.logo {
  width: 20px;
  height: 20px;
  border: 0;
}
.header-button {
  width: 140px;
  height: 24px;
  display: flex;
  align-items: center;
  border: 0;
  gap: 16px;
}

.top-text {
  width: 335px;
  height: 182px;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.2px;
  padding-left: 44px;
  padding-top: 52px;
  gap: 16px;
  box-sizing: border-box;
}
.top-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
}
.buy-detail {
  gap: 16px;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.buy-now {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #1e4c2f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: solid #1e4c2f 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e4c2f;
}

.top1 {
  position: relative;
}

.top-img {
  width: 100%;
  height: 384px;
  padding-top: 42px;
  box-sizing: border-box;
  position: relative;
}
.top1-img {
  top: 14px;
  left: 14px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.star-1img {
  width: 14px;
  height: 14px;
}
.top2 {
  width: 128px;
  height: 194px;
  background-color: #f6f6f6;
  position: absolute;
  box-sizing: border-box;
  top: 145px;
  left: 88px;
  border-radius: 18px;
}
.favourite {
  width: 24px;
  height: 24px;
  top: 10px;
  left: 94px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.top2-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.2px;
  position: absolute;
  left: 8px;
  top: 135px;
}
.top2-text p {
  color: #818b9c;
  font-weight: 400;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  position: absolute;
  margin: 0;
}
.top-star {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  position: absolute;
  top: 168px;
  left: 8px;
}

.mid1 {
  display: flex;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}
.mid1-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.2px;
}
.mid1-detail {
  color: #1e4c2f;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  text-align: center;
  width: 94px;
  height: 32px;
  border: solid 1px #1e4c2f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 30px;
  box-sizing: border-box;
  padding-left: 34px;
}
.category-list {
  width: 120px;
  height: 126px;
  border: solid 1.5px #e4e9ee;
  border-radius: 12px;
  flex-shrink: 0;
  position: relative;
}
.category-img {
  position: absolute;
  top: 24px;
  left: 44px;
}
.category-list .main-text {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  box-sizing: border-box;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.2px;
}
.category-list .sub-text {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  color: #818b9c;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
}
.category-end {
  width: 305px;
  height: auto;

  margin-left: 65px;
}
.category-end .main-text {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.2px;
  text-align: center;
  padding-top: 100px;
}

.category-end .sub-text {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
  text-align: center;
  color: #818b9c;
}
.card-container {
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  height: 1048px;
  justify-content: space-around;
  align-items: center;
}
.card-top {
  background-color: #f6f6f6;
  width: 155px;
  height: 130px;
  border-radius: 8px;
  position: relative;
}
.card-img {
  width: 90px;
  height: 90px;
  left: 30px;
  top: 20px;
  position: absolute;
}
.card-bot {
  width: 155px;
  height: 114px;
  background-color: white;
  border-radius: 8px;
}
.card-favourite {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  left: 124px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-price .main-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.2px;
  margin: 0;
}
.card-text .sub-text {
  color: #818b9c;
  font-weight: 400;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 4px;
}
.main-price .price-text {
  color: #1d9e34;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.2px;
  text-align: right;
  margin: 0;
}
.main-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 23px;
  margin: 0;
}
.card-star {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 9px;
  line-height: 160%;
  letter-spacing: 0px;
  box-sizing: border-box;
  padding-top: 8px;
}
